@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500&display=swap');



/* .All {
    font-family: 'Bai Jamjuree', sans-serif;
    position: absolute;
    font-weight: 300;
    top: auto;
    left: auto;
} */

/* .circleWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.Info {
    width: 1380px;
    height: 97.5px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 300;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vh;
    margin: 0;
    white-space: nowrap;
}

.hide {
    /* font-family: 'Bai Jamjuree', sans-serif; */
    display: none;
    position: absolute;
}

/* Default Info */

.Info:hover+.hide {
    display: block;
}

/* Hover Classes */

.Currtemp:hover {
    cursor: pointer;
}

.Sunrise:hover {
    cursor: pointer;
}

.Sunset:hover {
    cursor: pointer;
}

.Decibel:hover {
    cursor: pointer;
}

.Latitude:hover {
    cursor: pointer;
}

.Longitude:hover {
    cursor: pointer;
}

/* Hidden Info */

.Info.hidden:hover+.hide {
    display: none;
}

/* Hidden Classes */

.hidden .Currtemp {
    display: none;
}

.hidden .Sunrise {
    display: none;
}

.hidden .Sunset {
    display: none;
}

.hidden .Decibel {
    display: none;
}

.hidden .Latitude {
    display: none;
}

.hidden .Longitude {
    display: none;
}