/* default circle css */
.circle1 {
  height: 10vh;
  width: 10vh;
  border: 0.25vh solid rgb(253, 231, 231);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.circle2 {
  height: 10vh;
  width: 10vh;
  border: 0.25vh solid rgb(253, 231, 231);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
  left: 9vw;
}

.circle3 {
  height: 10vh;
  width: 10vh;
  border: 0.25vh solid rgb(253, 231, 231);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
  left: 9vw;
}

/* hover circle css */
.circle1:hover {
  background-color: rgb(253, 231, 231);
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

.circle2:hover {
  background-color: rgb(253, 231, 231);
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

.circle3:hover {
  background-color: rgb(253, 231, 231);
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

/* ignore */
/* active circle css */
/* ignore */

.credits {
  font-family: 'Bai Jamjuree', sans-serif;
  position: relative;
  font-weight: 300;
  font-size: 4vh;
}

.Pseudo {
  font-family: 'Bai Jamjuree', sans-serif;
  position: relative;
  font-weight: 300;
  /* margin-left: 8vw; */
  margin-top: 3%;
  font-size: 4vh;
  line-height: 13vh;
  left: 2vw;
}